<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To Do List App
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click) = "isOpen = true"> <ion-icon name="add-circle"></ion-icon>Ajouter</ion-button>
      <ion-button color="danger" (click) = "isOpen = false" > <ion-icon name="backspace"></ion-icon>Annuler</ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="empty">
    <p>You d'ont have any task</p>
  </div>


 <ion-list *ngIf="tasks.length">
  <ion-list-header>
    <h1>My To do list</h1> 
  </ion-list-header>

  <ion-card class="tasks" *ngFor="let taskT of tasks">
    <ion-checkbox></ion-checkbox>
    <h4 class="task-title">{{taskT.content}}</h4>
    <ion-button fill="clear" style="float: right;" color="danger"></ion-button>
    <ion-icon name="trash"></ion-icon>
  </ion-card>
 </ion-list>
</ion-content>

<ion-footer *ngIf="isOpen">
  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Add a new task ! "></ion-input>
    <ion-button shape="round" (click) ='addNewTask()' color="primary"></ion-button>
    <ion-icon name="add"> </ion-icon>Ajouter une tache
  </ion-item>
</ion-footer>
